dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  </head>
  <body class="container bg-hero"></body>
  <div class="bg-security"> </div>
  <header class="header">
    <div class="grid-col-12">
      <div class="header__menu col-left-6">
        <div class="header__menu--logo"><a href="https://www.ripio.com/ar"><img src="images/ripio.svg" alt=""></a></div>
        <div class="header__menu--nav"><a href="https://www.ripio.com/ar">Comunidad</a><a href="https://www.ripio.com/ar">Market</a>
          <div class="dropdown__menu"><a href="https://www.ripio.com/ar">Más productos <img src="images/arrow-down.svg" alt=""></a>
            <ul class="dropdown__toggle">
              <li><a href="/ar/comprar-bitcoin">Bitcoin</a></li>
              <li><a href="/ar/comprar-ethereum">Ethereum</a></li>
              <li><a href="/ar/criptomonedas/comprar/">Listado</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header__user col-right-6">
        <div class="mr"><a href="https://www.ripio.com/ar">Ingresar</a></div>
        <div class="btn btn--outline"><a href="https://www.ripio.com/ar">Registrate</a></div>
      </div>
    </div>
  </header>
  <section class="hero grid-col-12">
    <div class="hero__info col-left-6">
      <div class="hero__info--title">
        <h1 class="heading-1">Descubrí la nueva <br>economía digital</h1>
        <p>Empezá el camino de la innovación financiera.</p><a class="btn btn--purple" href="https://www.ripio.com/ar" title="">Abrir mi cuenta</a>
      </div>
    </div>
    <div class="hero__image col-right-6"><img src="images/hand.png" alt=""></div>
  </section>
  <div class="grid-col-12">
    <div class="white-space col-12"></div>
  </div>
  <div class="grid-col-12">
    <div class="white-space col-12"></div>
  </div>
  <div class="profit grid-col-12">
    <div class="profit__title col-12">
      <h2 class="heading-2 primary-color">Qué podés hacer en Ripio</h2>
      <p>Tenemos un producto para cada una de tus necesidades financieras.</p>
    </div>
  </div>
  <div class="profit__info grid-col-12">
    <div class="profit__info--box col-left-6 order-1">
      <h3 class="heading-3 secondary-color">Cuenta en pesos</h3>
      <p>Activá tu cuenta digital gratis  y gestioná<br>tu dinero como prefieras.</p><a class="btn btn--purple" href="https://www.ripio.com/ar" title="">Abrir mi cuenta</a>
    </div>
    <div class="profit__info--box col-right-6 order-2"><img src="images/wallet-icon.svg" alt=""></div>
  </div>
  <div class="grid-col-12">
    <div class="white-space-sm col-12"></div>
  </div>
  <div class="profit__info grid-col-12">
    <div class="profit__info--box col-left-6"><img src="images/icon-exchange.svg" alt=""></div>
    <div class="profit__info--box col-right-6">
      <h3 class="heading-3 secondary-color">Exchange</h3>
      <p>
         Compra y vende criptomonedas.<br>El precio lo pones tú.</p><a class="btn btn--purple" href="https://www.ripio.com/ar" title="">Abrir mi cuenta</a>
    </div>
  </div>
  <div class="grid-col-12">
    <div class="white-space-sm col-12"></div>
  </div>
  <div class="profit__info grid-col-12">
    <div class="profit__info--box col-left-6 order-1">
      <h3 class="heading-3 secondary-color">OTC</h3>
      <p>Para instituciones e<br>inversores mayoristas.</p><a class="btn btn--purple" href="https://www.ripio.com/ar" title="">Abrir mi cuenta</a>
    </div>
    <div class="profit__info--box col-right-6 order-2"><img src="images/icon-otc.svg" alt=""></div>
  </div>
  <div class="grid-col-12">
    <div class="white-space col-12"></div>
  </div>
  <div class="security grid-col-12">
    <div class="security__text col-left-2">
      <h3>
         Protegemos <br>lo más valioso<br>para vos</h3>
      <p>
         Todos tus activos en <br>un solo lugar. Libres de<br>riesgo y complicaciones.</p>
    </div>
    <div class="security__cards col-right-10">
      <div class="security__cards--item"><img src="images/icon-safe.svg" alt="" srcset="">
        <h4>Seguridad</h4>
        <p>
           Combinamos HTTPS,<br>Cloudfare e cold storage <br>para proteger seus fundos.</p><a href="http://">Entenda</a>
      </div>
      <div class="security__cards--item center"><img src="images/hands.svg" alt="" srcset="">
        <h4>Confianza</h4>
        <p>
           Combinamos HTTPS,<br>Cloudfare e cold storage <br>para proteger seus fundos.</p><a href="http://">Entenda</a>
      </div>
      <div class="security__cards--item"><img src="images/cubo.svg" alt="" srcset="">
        <h4>Inovación</h4>
        <p>
           Combinamos HTTPS,<br>Cloudfare e cold storage <br>para proteger seus fundos.</p><a href="http://">Entenda</a>
      </div>
    </div>
  </div>
  <div class="grid-col-12">
    <div class="white-space-sm col-12"></div>
  </div>
  <div class="grid-col-12">
    <div class="white-space col-12"></div>
  </div>
  <div class="bg-footer"></div>
  <footer class="footer grid-col-12">
    <div class="footer__submmit col-left-5">
      <h4 class="heading-4">
         Empezá el camino<br>de la innovación<br>inanciera.</h4><a class="btn btn--white" href="https://www.ripio.com/ar" title="">Abrir mi cuenta</a><a class="btn btn--outline-white" href="https://www.ripio.com/ar" title="">Abrir mi cuenta</a>
    </div>
    <div class="footer__menu col-right-7">
      <div class="footer__links">
        <div class="footer__links--title">Productos</div>
        <ul><a href="">
            <li>Cuenta en pesos</li></a><a href="">
            <li>Criptomonedas</li></a><a href="">
            <li>Créditos</li></a><a href="">
            <li>Exchange</li></a><a href="">
            <li>OTC</li></a></ul>
      </div>
      <div class="footer__links">
        <div class="footer__links--title">Aprender</div>
        <ul><a href="">
            <li>Cotización BTC</li></a><a href="">
            <li>Cómo comprar BTC?</li></a><a href="">
            <li>Ripio TV</li></a><a href="">
            <li>Blog</li></a><a href="">
            <li>Comunidad</li></a></ul>
      </div>
      <div class="footer__links">
        <div class="footer__links--title">Institucional</div>
        <ul><a href="">
            <li>Nosotros</li></a><a href="">
            <li>Trabajá con nosotros</li></a><a href="">
            <li>Téminos y condiciones</li></a><a href="">
            <li>Help center</li></a><a href="">
            <li>FAQ</li></a></ul>
      </div>
    </div>
    <hr class="col-12">
    <div class="footer__social col-12">
      <div class="footer__social--policies">
        <p>
          &copy; 2018 Ripio | Las transacciones de activos digitales y critpomonedas representan inversiones de
          alto riesgo y no son recomendadas para todo tipo de inversores.
        </p>
      </div>
      <div class="footer__social--redes">
        <ul>
          <li><a href=""><img src="images/facebook-f.svg" alt=""></a></li>
          <li><a href=""><img src="images/twitter.svg" alt=""></a></li>
          <li><a href=""><img src="images/instagram.svg" alt=""></a></li>
          <li><a href=""><img src="images/youtube.svg" alt=""></a></li>
          <li><a href=""><img src="images/in.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="footer__social--logo"><a href="https://www.ripio.com/ar"><img src="images/w-ripio-logo.svg" alt=""></a></div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="js/main.js">     </script>
</html>

dev/views/index.pug
doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css",  href="css/main.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
  body.container.bg-hero
  .bg-security 
  include blocks/header.pug
  include sections/hero-info.pug
  include sections/white-space.pug
  include sections/white-space.pug
  include sections/profit-title.pug
  include sections/profit-account.pug
  include sections/white-space-sm.pug
  include sections/profit-exchange.pug
  include sections/white-space-sm.pug
  include sections/profit-otc.pug
  include sections/white-space.pug
  include sections/security.pug
  include sections/white-space-sm.pug
  include sections/white-space.pug
  .bg-footer
  include blocks/footer.pug
  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
  script(src="js/main.js")      
